<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio con javascript</title>
</head>
<body>
    
    <script>
        // comando console.log();
        console.log("HOLA MUNDO!!");
        // variables numericas
        var item_uno = 'A';
        var texto_largo = 'Ai';
        nueva_variable = "NUEVO TEXTO";
        // validaciones === 
        // == es una comparacion no tan estricta
        // === una comparacion mas estricta
        if(item_uno === texto_largo){
            console.log("SON IGUALES!!");
        }else{
            console.log("NO SON IGUALES!!");
        }
        // ciclos
        for(var i = 0; i < 10; i++){
            console.log("CONTANDO " + i);
        }

        sumarNumeros(50, 100);

        function sumarNumeros (var1, var2) {
            console.log(var1 + var2);
        }

        // ejercicio
        var array_nuevo = []; // vector
        // historial 'agregaste, eliminaste, mostraste una lista del caracter ';' 100 veces'
        // agregarle valores nuevoValor()
        // eliminar un elemento eliminarElemento()
        // mostrar una lista de caracteres
        // ejemplo mostrarLista('*', 100);

    </script>
</body>
</html>